@(tasks: List[Task], user: User, taskForm: Form[Task])

@import helper._

@main("Todo list") {

    Logged in as @user.email (<a href="@routes.Application.logout()">Log out</a>)
    <h1>@tasks.size() task(s)</h1>
    
    <ul>
        @for(task <- tasks) {
            <li>
                @task.label
                
                @form(routes.Tasks.delete(task.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new task</h2>
    
    @form(routes.Tasks.add()) {

        @inputText(taskForm("label"))
        
        <input type="submit" value="Create">
    }
}
